examples/misc/__pycache__
examples/misc/statsbar/__pycache__
examples/gallery.png
examples/tmp
setup.cfg
TODO
build
doc/.build
doc/.themes
sobek/core/_core.cpython-33m.so
sobek/core/_core.cpp
sobek/gles2/_gles2.cpython-33m.so
sobek/gles2/_gles2.c
sobek/glm/_glm.cpython-33m.so
sobek/glm/_glm.cpp
sobek/cairo/_cairo.cpython-33m.so
sobek/cairo/_cairo.cpp
sobek/noise/libnoise.cpp
sobek/noise/libnoise.cpython-33m.so
sobek/__pycache__
sobek/core/__pycache__
sobek/cairo/__pycache__
sobek/gles2/__pycache__
sobek/glm/__pycache__
sobek/noise/__pycache__
sobek/model/__pycache__
examples/sobek
examples/windowing/__pycache__
